.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

img {
  width: 300px;
}

input {
  width: 400px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px -1px 5px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px -1px 5px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px -1px 5px 5px rgba(0, 0, 0, 0.12);
  border: none;
  margin-top: 30px;
  /* margin-bottom: 30px; */
}

.icon-container {
  display: flex;
  flex-direction: column;
  width: 60px;
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icon {
  width: 30px;
  background-color: whitesmoke;
  border-radius: 100%;
}

.shortcut-list {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  width: 400px;
  padding: 20px;
  justify-content: center;
}

.search-suggest {
  width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 14px 22px 0px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 5px 14px 22px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 5px 14px 22px 0px rgba(0, 0, 0, 0.28);
  margin-top: 0;
  padding: 10px;
}

.search-suggest ul {
  list-style-type: none;
}
